{% extends 'layoutt.html' %} 

{% block content %} 

<style>
    center {
        text-align: center;
        font-family: 'Shadows Into Light';
        text-shadow: 2px 2px 6px black;
    }

    body {
        background-color: green;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        color: white;
    }

    .search-form input[type="text"] {
        height: 30px;
        /* You can adjust the height to your preference */
        width: 700px;
        /* You can adjust the width to your preference */
        font-size: 20px;
        /* Optional: Adjust the font size if needed */
    }

    h1 {
        margin-top: 100px;
        margin-bottom: 5px;
        font-size: 60px;
        text-shadow: 2px 2px 6px black;
    }

    h2 {
        font-size: 30px;
        margin-top: 5px;
        margin-bottom: 100px;
        
    }

    p {
        text-shadow: 2px 2px 6px black;
        text-align: center;
        font-size: 20px
    }

    .image-upload {
        text-align: center;
        margin-top: 30px;
    }

    .image-upload label {
        font-size: 20px;
    }

    .image-upload input[type="file"] {
        display: none;
    }

    .image-upload .btn {
        margin-top: 10px;
    }
</style>

<div class="row">
    <div class="div2">
        <div class = "wbox">
      
            <center>
            <h1>Welcome to Plant Parenthood</h1>
            <h2>Children? In this Economy? Have Plants Instead! </h2>
            <p> What's Your Child's Species? </p>
            <form class="search-form" method="post">
                <input type="text" name="search" placeholder="Enter Plant Type...">
                <input type="submit" class="btn btn-primary search-button" value="Search">
            </form>
            {% if error_message %}
                <p class="error">{{ error_message }}</p>
            {% endif %}
        
        
            <p>If you're not sure what kind of child you have, you can show us a pic!</p>
                <form method='POST' enctype='multipart/form-data'>
                    {{ form.hidden_tag() }}
                    {{ form.file() }}
                    {{ form.submit() }}
                    {% if form.file.errors %}
                        <p style="color: red;">{{ form.file.errors[0] }}</p>
                    {% endif %}
                </form>
            </center> 
    
    
        </div>
    </div>
</div>
  
{% endblock %}