{% extends 'register_layout.html' %}


{% block subtitle %}Log In{% endblock %}

{% block text %}Enter your credentials{% endblock %}

{% block content %}

  <div class="form-container">
    <form method="POST" action="{{ url_for('login') }}">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
        {% for error in form.username.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        {% for error in form.password.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
      </div>
    </form>
  </div>

{% endblock %}