{% extends 'register_layout.html' %}



{% block content %}
<style>
    center{
        color: white;
        text-align: center;
    }
</style>


<center>
  <div class="form-container">
    <form method="POST" action="{{ url_for('register') }}">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
        {% for error in form.username.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
        {% for error in form.email.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        {% for error in form.password.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.confirm_password.label(class="form-label") }}
        {{ form.confirm_password(class="form-control") }}
        {% for error in form.confirm_password.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
      </div>
    </form>
  </div>
</center>
{% endblock %}